@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body{
	background: #F8FAF9;
}
a{
	text-decoration: none;
	color: #f99e3b;
}
a:hover, a:focus{
	color:#f47330;
}
h1, h2, h3, h4, h5, h6{
	color: #0a0a0a;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3{
	font-weight: 600;
}
@media screen and (min-width: 40em){
	h1 {
		font-size: 2.4rem;
		text-transform: uppercase;
	}
	h2 {
		font-size: 2.0rem;
		text-transform: uppercase;
	}
}
.page-title{
	position: relative;
	font-weight: bold;
}
.page-title:after{
	content: "";
	display: block;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
	bottom: 0;
}
h3{
	font-size: 1.3rem;
}
h4{
	font-size: 1.15rem;
}
.row .row .no-margin{
	margin: 0!important;
}
.bottom1{
	padding-bottom: 1rem;
}
.top1{
	padding-top: 1rem;
}
.button, .button.alert{
	background: #f99e3b;
}
.button:hover, .button:focus, .button.alert:hover, .button.alert:focus{
	background:#f47330;
}
.button.secondary{
	background: #1A1A1A;
}
.button.secondary:hover, .button.secondary:focus{
	background: #161616;
}
.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    background-color:#f47330;
    color: #fefefe;
}
/*HEADER*/
.user-info{
	background: #161616;
	padding: 0.5rem 0;
}
.user-info p{
	margin-bottom: 0;
	color: #d6d6d6;
	font-size: 0.9rem;
}
.user-info a{
	font-size: 0.9rem;
}
.header{
	padding: 0.5rem;
}
.bg1{
	background: #1A1A1A;
	color: #FFF;
}
.bg1 a{
	color: #FFF!important;
}
.sidebar-menu .bg1 li.is-submenu-item.is-accordion-submenu-item a{
	color: #1A1A1A!important;
}
.bg1 .top-bar, .bg1 .top-bar ul{
	background: none;
	padding: 0;
}
.logo{
	padding: 0.5rem;
}
.top-bar .top-bar-left, .top-bar .top-bar-right{
	padding: 19px 0;
}
.top-bar .top-bar-left{
	width: calc(100% - 186px);
}
.top-bar .top-bar-right{
	width: 100%;
}
.top-bar-right .menu{
	width: 100%;
}

/*VER CARRINHO TOP*/
.menu-cart{
	position: relative;
}
.btn-cart {
	cursor: pointer;
	padding: 0.5rem 1rem;
	display: inline-block;
}
.cart-box {
	position: absolute;
	display: none;
	width: 320px;
	top: 74px;
	right: 0;
	border: 1px solid #000;
	background: #161616;
	z-index: 99;
	padding: 1rem;
}
.cart-box ul.cart_list{
	list-style: none;
	margin: 0;
}
.cart-box ul.cart_list li{
	margin-bottom: 5px;
}
.cart-box ul.cart_list img{
	width: 45px;
	margin-right: 5px;
}
.cart-box ul.cart_list .remove{
	margin-right: 10px;
}
.cart-box ul.cart_list span.quantity{
	float: none;
	width: auto;
}
.item-holder-quantity{
	position: relative;
}
.item-holder-quantity > .cart-itens{
	position: absolute;
	top: 0;
	right: -44px;
	background: #f99e3b;
	border-radius: 50%;
	width: 20px;
	text-align: center;
	font-size: 80%;
}
/*VER CARRINHO TOP*/

@media screen and (min-width: 64em) {
	.top-bar .top-bar-left, .top-bar .top-bar-right{
		padding: 19px 0;
	}
	.top-bar .top-bar-left{
		width: 100px;
		float: right;
	}
	.top-bar .top-bar-right{
		width: calc(100% - 330px);
	}
	.top-bar-right .menu {
		width: auto;
	}
}

@media screen and (max-width: 39.9375em) {
	.top-bar .top-bar-right{
		margin-top: 15px;
	}
}
.icon-menu{
	padding: 0.7rem 1rem;
}
.bg1 .menu a{
	color: #FFF;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 1px solid #171717;
}
.menu .active > a{
	background: none;
}
.is-dropdown-submenu{
	background: #252525!important;
	border: none;
	border-top: 2px solid #f99e3b;
}
.is-accordion-submenu{
	background: #1D1D1D!important;
}
.dropdown.menu.medium-horizontal > li.opens-left > .is-dropdown-submenu {
	top: 100%;
	margin-top: -2px!important;
	left: 0!important;
	right: auto!important;
}
@media screen and (min-width: 40em) {
	#top-menu .submenu{
		width: 300px;
	}
	.bg1 .menu a{
		border-bottom: 2px solid transparent;
	}
	.menu .active > a {
		color: #fefefe;
		background: none;
		border-bottom: 2px solid #f99e3b;
	}
	.is-dropdown-submenu a{
		border-bottom: 1px solid #171717!important;
	}
}
.is-accordion-submenu-parent > a::after, .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after{
	border-color: #f99e3b transparent transparent!important;
}
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a::after {
	border-color: transparent #f99e3b transparent transparent;
}

/*breadcrumb*/
.breadcrumb{
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}
.breadcrumbs{
	margin: 15px 0;
}
.breadcrumbs a{
	color: #b5b5b5;
}

/*prevent fouc*/
.no-js .top-bar {
  display: none;
}
@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
  .no-js .title-bar, .icon-menu {
    display: none;
  }
}

/*seach box*/
.search-icon{
	padding: 0.7rem 1rem;
	cursor: pointer;
}
.search-box-container{
	padding-top: 1rem;
	/*display: none;*/
	background: #f99e3b;
}
/*END HEADER*/

/*CONTENT*/
.main{
	padding: 30px 0;
}
.banner{
	margin-bottom: 1rem;
}
.banner-product{
	margin-top: 1rem;
}
.banner img{
	width: 100%;
}
.slick-slide {
    margin: 0px 0;
}
.slick-dots{
	bottom: 5px;
}
.slick-dots li.slick-active button:before {
	background: #f99e3b;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	-o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, .9);
}
/*SIDEBAR*/
.sidebar-menu{
	padding-bottom: 1rem;
}
.sidebar-menu h3{
	margin-top: 0;
	text-transform: uppercase;
}
.sidebar-menu .menu{
	padding: 0;
}
.sidebar-menu .menu a{
	font-size: 0.9rem;
	color: #0A0A0A;
	border-bottom: 1px solid #e0e0e0;
	font-weight: 500;
}
.sidebar-menu .is-accordion-submenu{
	background: #f1f1f1!important;
}
/*.sidebar-menu .is-accordion-submenu a{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	}*/
	/*PRODUCT*/

.lista-produtos .column:last-child:not(:first-child), .lista-produtos .columns:last-child:not(:first-child){
	float: left;
}

.product-wrapper{
	border: 1px solid #e0e0e0;
	padding: 1rem 1rem 0;
	margin-bottom: 1rem;
	position: relative;
	overflow: hidden;
}
span.onsale{
	position: absolute;
	top: 0;
	left: 0;
	background: #f99e3b;
	color: #FFF;
	padding: 0.3rem 0.625rem;
}
.product-info h3{
	overflow: hidden;
	height: 58px;
}
.product-info h3 a{
	color:#0a0a0a;
}
.product-info a p{
	color:#0a0a0a;
}
.product-info h4{
	overflow: hidden;
	height: 50px;
}
.product-info h4 a{
	color:#0a0a0a;
}
/*PAGINATION*/
.pagination .current{
	background: #f99e3b;
}

/*SINGLE PRODUCT*/
.single-product-info h2{
	margin-top: 0;
	margin-bottom: 0.5rem;
}
.single-product-info p{
	color: #888;
}
.single-product-info .info-box{
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	margin: 1.5rem 0;
	padding: 0.5rem 0;
}
.single-product-info a{
	color: #f47330;
}
.product-info  .price{
	font-size: 1.2rem;
	font-weight: bold;
	color: #f47330!important;
}
.single-product-info  .price, .price{
	font-size: 2rem;
	font-weight: bold;
	color: #f47330!important;
}
.product-price{
	margin-right: 10px;
}
.product-row{
	display: inline-block;
}
.product-row .price{
	font-size: 1.6rem;
}
.variations .label{
	margin: 0.5rem 0.625rem 0.625rem;
	background: none;
}
.variations label{
	color: #0a0a0a;
	font-weight: bold;
}
/*END CONTENT*/

/*FOOTER*/
.footer h4{
	text-transform: uppercase;
	color: #f47330;
	font-size: 1.3rem;
	font-weight: bold;
	margin: 1.5rem 0 1.5rem;
}
.footer h4:before{
	content: "";
	display: block;
	border-bottom: 1px solid #2F2F2F;
	position: relative;
	bottom: -35px;
}
.footer h4:after{
	content: "";
	display: block;
	width: 40px;
	border-bottom: 1px solid #f47330;
	position: relative;
	bottom: -5px;
}
.footer .logo-footer img{
	width: 120px;
}
.footer address{
	padding: 2rem 0;
}
.footer p{
	font-size: 0.75rem;
	font-style: normal;
	color: #6A6A6A;
	margin: 0;
	margin-bottom: .5rem;
}
.footer i{
	font-size: 1rem;
	color: #D4D4D4;
}

/*SOCIAL BUTTONS*/

.social-buttons {
	/*display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;*/
	margin-top: 1rem;
}
.social-buttons a{
	border: none;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #444444;
	color: #161616;
	width: 42px;
	height: 42px;
	margin-right: 0.5rem!important;
}
.social-buttons a i{
	color: #161616;
	transition: color 0.25s ease-out;
}
.social-buttons a:hover, .social-buttons a:focus{
	background: #f47330;
}
.social-buttons a:hover i, .social-buttons a:focus i{
	color: #FFF;
}

.footer .menu a{
	color: #6A6A6A!important;
	font-size: 0.75rem;
	padding: 0.5rem 0;
}
/*COPY*/
.copy{
	background: #161616;
	padding: 1rem;
}
.copy p{
	color: #FFF;
	margin: 0;
}
.color1{
	color: #f47330;
}
.blackflag a, .blackflag a:hover, .blackflag a:focus{
	color: #6A6A6A!important;
}
/*END FOOTER*/

/*.single-product .cart{
float: left;
}*/
.yith-wcwl-add-to-wishlist{
	margin-top: 0;
}
.wishlist-button{
	margin-left: 2px;
}
.yith-wcwl-add-button a.add_to_wishlist{
	margin: 0px; 
	box-shadow: none; 
	text-shadow: none; 
	border-radius: 0; 
	float: left;
	margin-left: 2px;
}
.yith-wcwl-add-button a.add_to_wishlist i{
	margin-right: 0;
}

.woocommerce .quantity, .quantity, .woocommerce-page .quantity {
	width: 102px;
	margin: 0 2px 0 0;
	display: inline-block;
	float: left;
}

.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty {
	width: 40px!important;
	height: 40px;
	line-height: 55px;
	text-shadow: none !important;
	box-shadow: none !important;
	color: #6c6465;
	padding: 0 0px;
	text-align: center;
	font-family: inherit;
	font-weight: 600;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 16px;
	display: block;
	margin-bottom: 0;
	float: left;
}
/*.woocommerce .cart_item .quantity input.qty, .woocommerce-page .cart_item .quantity input.qty{
	height:53px;
	}*/
.woocommerce .quantity .product_quantity_minus, .woocommerce .quantity .product_quantity_plus {
	display: block;
	color: #FFF;
	padding: 2px 10px;
	margin-right: 0;
	border-radius: 0;
	font-size: 14px;
	cursor: pointer;
	line-height: 1;
	background:#1A1A1A;
	/* position: absolute; */
	float: left;
	line-height: 36px;
}      
.woocommerce .quantity .product_quantity_minus {
	top: 16px;
}
.woocommerce .quantity .qty {        
	display: inline-block;       
	height: 17px;        
	vertical-align: top;         
}        
input[type='number'] 
{
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
 {
	-webkit-appearance: none;
}
.woocommerce-variation-add-to-cart, .single_add_to_cart_button{
	float: left;
}
.sku_wrapper, .posted_in{
	display: block;
	clear: both;
}
.woocommerce-message{
	background: #f1f1f1;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px solid #e2e2e2;
}
.woocommerce-message .button{
	margin-bottom: 0;
	margin-right: 15px;
}
#shipping_method{
	list-style: none;
	margin-left: 0;
}
#shipping_method label{
	width: 92%;
}

.form-row-first, .form-row-last{
	width: 50%;
	padding: 0 0.5rem 0;
	margin-bottom: 0;
	float: left;
}
.form-row-wide{
	width: 100%;
	padding: 0 0.5rem 0;
	margin-bottom: 0;
}

.titulo_balcao{
	background: #f99e3b;
	color: #FFF;
	font-weight: bold;
}
.conteudo_balcao{
	display: none;
}
.result_balcao li {
    background: #FFF;
    padding: 0.5rem;
}
.result_balcao li:nth-child(even) {
    background: #efefef;
}
.result_balcao li .row .columns:last-child, .titulo_balcao .columns:last-child{
	text-align: right;
}

/*BLOG*/

/*sidebar*/
.widget-sidebar{
	margin: 0 0 1rem;
	padding: 15px 15px 0;
	border-bottom: 1px solid #dfdfdf;
	background: #FFF;
	color: #f99e3b;
}
.widget-sidebar h3{
	text-transform: uppercase;
	font-size: 1.4rem;
	text-align: left;
}
.widget-sidebar ul{
	padding: 0 10px;
	margin-left: 0.5rem;
	margin-bottom: 0;
}
.widget-sidebar li{
	padding: 5px 5px 5px 0;
	border-bottom: 1px dashed #DBD2DD;
	list-style: square;
	display: list-item;
}
.widget-sidebar a{
	color: #4C4B4B;
}
.widget-sidebar a:hover{
	color:#f47330;
}
.widget-sidebar li:last-child{
	border-bottom: none;
}
li.collapsing.archives.expand {
	list-style: none;
}

.blog-post{
	margin: 0 0 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dfdfdf;
	background: #FFF;
}
.blog-post img{
	display: inline-block;
	width: auto;
}
.post-image{
	width: 100%;
	overflow: hidden;
	background: #ccc;
	display: none;
	margin-bottom: 15px;
}
.post-entry{
	width: 100%;
	padding: 5px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.post-entry h1, .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6, .post-entry p, .post-entry pre, .post-entry blockquote{margin: 15px 0;}

/*.post-entry h1{
	color: #f99e3b;
}*/
.post-entry blockquote{
	padding: 15px 10%;
}
.post-entry p{
	line-height: 24px;
	color: #1A1A1A;
}
.post-entry pre{
	font-family: monospace;
	padding: 15px;
	background: #ededed;
}
.post-entry ul, .post-entry ol{
	padding: 10px;
}
.post-entry ul li{
	list-style: disc inside none;
	display: list-item;
	color: #4c4b4b;
	margin: 4px 0;
}
.post-entry ol li{
	list-style: decimal inside none;
	display: list-item;
	color: #4c4b4b;
	margin: 4px 0;
}

.post-image-thumb .post-image{
	display: block;
}
.blog-event .post-image-thumb .post-image{
	margin-bottom:0 ;
}
.entry-header{
	margin-bottom: 12px;
}
.entry-header h1 a{
	color: #1A1A1A;
	font-weight: bold;
}
.comments-link{
	float: right;
}
.posted-on a, .comments-link{
	color: #8a8a8a;
	font-size: 14px;
}
.entry-footer{
	clear: both;
	width: 100%;
	margin-top: 10px;
	padding: 10px 15px;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}  
.post-tags a{
	background: #1A1A1A;
	color: #FFF;
	display: inline-block;
	padding: 2px 5px;
	margin: 2px 1px;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.post-tags a:hover{
	background: #161616;
	color: #FFF;
}

/*CONTATO*/

textarea{
	height: 150px;
}

/*OUTROS*/
.cat-item-9{
	background: #1A1A1A;
}
.sidebar-menu .menu .cat-item-9 a{
	color: #FFF;
}
.sidebar-menu .menu .cat-item-9 .is-accordion-submenu a{
	color: #0A0A0A;
}

.wcuf_spacer4{
	display: none;
}
.select2-container{
	margin-bottom: 30px;
}